@layer base {
  @font-face {
    font-family: 'Rustea Custom'; 
    src: url('https://hellocopilot.com/wp-content/themes/copilot/fonts/Rustea.otf') format('opentype');
    font-weight: normal; 
    font-style: normal;
    font-display: swap; 
  }
}

@import "tailwindcss";

@layer base {
  * {
    font-family: 'Rustea Custom', 'serif'; 
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}